body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.textarea-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.textarea-container textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    line-height: 1.5;
    background-color: #eee;
    color: #333;
    margin-bottom: 10px;
}

.textarea-container label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.copy-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #23527c;
}

.copy-btn.copied {
    background-color: #5cb85c;
}

.copy-btn.copied:hover {
    background-color: #4cae4c;
}

/* Styles for mode-container */
.mode-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Styles for mode-toggle-btn */
.mode-toggle-btn {
    width: 24px;
    height: 24px;
    border: none;
    background-color: var(--mode-toggle-color);
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
}

/* Styles for mode-text */
.mode-text {
    font-size: 18px;
    color: var(--text-color);
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .textarea-container {
        flex-direction: column;
    }

    .textarea-container textarea {
        margin-bottom: 0;
    }

    .copy-btn {
        margin-top: 20px;
    }
}

/* Styles for dark mode */
.dark-mode {
    --bg-color: #1c1c1c;
    --text-color: #fff;
    --mode-toggle-color: #fff;
    --mode-toggle-shadow: 0px 0px 10px #fff;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dark-mode textarea {
    background-color: #333;
    color: #f5f5f5;
}

.dark-mode .mode-toggle-btn {
    box-shadow: var(--mode-toggle-shadow);
}

/* Styles for light mode */
.light-mode {
    --bg-color: #fff;
    --text-color: #1c1c1c;
    --mode-toggle-color: #1c1c1c;
    --mode-toggle-shadow: 0px 0px 10px #1c1c1c;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.light-mode .mode-toggle-btn {
    box-shadow: var(--mode-toggle-shadow);
}